<div class="login-reg-panel">
    <div class="login-info-box" *ngIf="!isForgotPasswordActive">
      <p>You can now log in with your new password.</p>
      <a class="remember-password" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Back to Login</a>
    </div>
  
    <div class="register-info-box" *ngIf="isForgotPasswordActive">
      <h2>Reset Your Password</h2>
      <p>Enter and confirm your new password below.</p>
    </div>
  
    <div class="white-panel" [ngClass]="{ 'right-log': !isForgotPasswordActive }">
      <div class="login-show" *ngIf="isForgotPasswordActive">
        <app-loading-animation class="loading-animation" *ngIf="isLoading"></app-loading-animation>
        <h2>RESET PASSWORD</h2>
        <form [formGroup]="resetPasswordForm">
          <input formControlName="password" type="text" [disabled]="isLoading" placeholder="New Password" />
          <input formControlName="password2" type="text" [disabled]="isLoading" placeholder="Confirm New Password" />
          <button (click)="resetPassword()" [disabled]="resetPasswordForm.invalid || isLoading">Submit</button>
        </form>
        <a class="remember-password" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Back to Login</a>
      </div>
      <div class="register-show" *ngIf="!isForgotPasswordActive">
        <ng-content *ngIf="!isForgotPasswordActive" [template]="tick"></ng-content>
        <div class="wrapper">
          <div class="tick"></div>
        </div>
        <h2 class="text-center">Password Reset Successfully</h2>
      </div>
    </div>
  </div>
  
  <ng-template #tick>
    <div class="wrapper">
      <div class="tick"></div>
    </div>
  </ng-template>
  