<div class="login-reg-panel">
  <div class="login-info-box" *ngIf="!isForgotPasswordActive">
    <h2>Email sent</h2>
    <p>Check your email for the reset password link</p>
  </div>

  <div class="register-info-box" *ngIf="isForgotPasswordActive">
    <h2>Reset Password Assistance</h2>
    <p>Please follow the instructions provided.</p>
  </div>

  <div class="white-panel" [ngClass]="{ 'right-log': !isForgotPasswordActive }">
    <div class="login-show" *ngIf="isForgotPasswordActive">
      <app-loading-animation class="loading-animation" *ngIf="isLoading"></app-loading-animation>
      <h2>FORGOT PASSWORD</h2>
      <form [formGroup]="forgotPasswordForm">
          <input formControlName="email" type="text" [disabled]="isLoading" placeholder="Email" />
          <button (click)="forgotPassword()" [disabled]="forgotPasswordForm.invalid || isLoading">Submit</button>
      </form>
      <a class="remember-password" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Remember password?</a>
    </div>
    <div class="register-show" *ngIf="!isForgotPasswordActive">
      <ng-content *ngIf="!isForgotPasswordActive" [template]="tick"></ng-content>
      <div class="wrapper">
        <div class="tick"></div>
      </div>
      <h2 class="text-center">Action Complete</h2>
    </div>
  </div>
</div>

<ng-template #tick>
  <div class="wrapper">
    <div class="tick"></div>
  </div>
</ng-template>
