body {
    height: 100vh;
    min-height: 550px;
    position: relative;
}

* {
    color: lightgray;
}

a {
    text-decoration: none;
    color: lightblue;
}

.login-reg-panel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    height: 400px;
    background-color: #171717;
}

.white-panel {
    background-color: #212121;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0.75rem;
    height: 500px;
    position: absolute;
    top: -50px;
    width: 50%;
    right: calc(50% - 50px);
    transition: .3s ease-in-out;
    z-index: 0;
}

.white-panel button {
    max-width: 150px;
    background-color: transparent;
    border: 1px solid rgba(211, 211, 211, 0.2);
    color: #0087EB;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 0.25rem;
    cursor: pointer;
}

.white-panel button:hover {
    border: 1px solid transparent;
    background: #44444428;
    color: #5eb6fa;
}

.white-panel button:active {
    scale: 0.95;
}

.login-reg-panel input[type="radio"] {
    position: relative;
    display: none;
}

.login-reg-panel #label-login,
.login-reg-panel #label-register {
    border: 1px solid #9E9E9E;
    padding: 0 5px;
    width: 150px;
    display: block;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.login-info-box {
    width: 30%;
    padding: 0 50px;
    top: 20%;
    left: 0;
    position: absolute;
    text-align: left;
}

.register-info-box {
    width: 30%;
    padding: 0 50px;
    top: 20%;
    right: 0;
    position: absolute;
    text-align: left;
}

.right-log {
    right: 50px;
}

.login-show,
.register-show {
    z-index: 1;
    opacity: 100;
    transition: 0.3s ease-in-out;
    color: #242424;
    text-align: left;
    padding: 3rem;
}

.remember-password:hover {
    text-decoration: underline;
    color: lightblue;
}

.login-show .loading-animation {
    /* background-color: pink; */
    position: absolute;
    top: 1rem;
    right: 2rem;
    scale: 0.55;
}

.register-show .loading-animation {
    /* background-color: pink; */
    position: absolute;
    top: 1rem;
    right: 2rem;
    scale: 0.55;
}

.login-show hr {
    margin: 3rem 0rem;
}

.show-log-panel {
    display: block;
    opacity: 0.9;
}

.login-show input[type="text"],
.login-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 1.5rem 0;
    padding: 0.75rem;
    background-color: #b5b5b510;
    border: 1px solid #b5b5b5;
    border-radius: 0.25rem;
    outline: none;
}

.login-show button {
    width: 100%;
    float: right;
}

.login-show a {
    display: inline-block;
    padding: 10px 0;
}

.register-show input[type="text"],
.register-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 1.5rem 0;
    padding: 0.75rem;
    background-color: #b5b5b510;
    border: 1px solid rgba(211, 211, 211, 0.75);
    border-radius: 0.25rem;
    outline: none;
}

.register-show button {
    width: 100%;
    float: right;
}

.white-panel input::placeholder {
    color: rgba(211, 211, 211, 0.6);
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

a {
    text-decoration: none;
    color: #eaeaea;
}




/* body {
    display: grid;
    place-items: center;
    margin: 0;
    background: #1d1e22;
} */

.wrapper {
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    place-items: end;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%,-50%) rotate(45deg);
    /* background-color: pink; */
}

@keyframes tick-animation {

    0%,
    20% {
        transform: scaleX(0);
    }

    30% {
        transform: scaleX(1);
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}

.tick {
    position: relative;
    height: 0.25rem;
    width: 1.5rem;
    translate: -5rem -5rem;
    transform-origin: -50% -50%;
    border-radius: 5px;
    background: #1ac0a2;
    animation: tick-animation 5s;
    scale: 2;
    margin-top: 10rem;
    margin-right: 2.5rem;
}

@keyframes tick-before-animation {

    0%,
    30% {
        transform: scaleY(0);
    }

    45% {
        transform: scaleY(1);
    }
}

.tick::before {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 0.25rem;
    height: 3.5rem;
    transform-origin: 0% 100%;
    border-radius: inherit;
    background: inherit;
    animation: tick-before-animation 5s;
}